<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449566323481-bouvrd5qvk2fnrlv7n6njs3fuaqkvvpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449566323481-bouvrd5qvk2fnrlv7n6njs3fuaqkvvpq</string>
	<key>API_KEY</key>
	<string>AIzaSyDQBozQJ94Cs8xpy5z7vLaHQuPV3pYIA8w</string>
	<key>GCM_SENDER_ID</key>
	<string>449566323481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>vize030120010</string>
	<key>STORAGE_BUCKET</key>
	<string>vize030120010.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449566323481:ios:ba73082aafc6c863f68b88</string>
</dict>
</plist>